<div class="light-wizard-container" [hidden]="!showWizard">
	<div class="light-wizard-nav-container" [hidden]="hideSideNav">
		<div class="light-wizard-title">
			<span><ng-content select="[light-wizard-title]"></ng-content></span>
		</div>
		<ul [class.stepMarkersAdded]="showStepMarkers">
			<li [class.done]="i < activePageIndex" [attr.index]="i + 1" [class.active]="i === activePageIndex" *ngFor="let page of pages; let i = index" (click)="activatePage(i)">
				<span [hidden]="!showPageIndexInNav"><strong>{{i + 1}} : </strong></span><span [innerHTML]="page.getTitle()"></span>
			</li>
		</ul>
	</div>
	<div class="light-wizard-page-container">
		<ng-content></ng-content>
		<div class="light-wizard-loader-container" [hidden]="!showLoader">
			<div class="light-wizard-loader-overlay">
				<ng-content select="[light-wizard-loader]"></ng-content>
			</div>
		</div>
		<div class="light-wizard-footer-steppers" [hidden]="!showStepperMarkersInFooter">
			<ul>
				<li [class.done]="i < activePageIndex" [attr.index]="i + 1" [class.active]="i === activePageIndex" *ngFor="let page of pages; let i = index" (click)="activatePage(i)"></li>
			</ul>
		</div>
	</div>
</div>