.light-wizard-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow:row;
  .light-wizard-loader-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	.light-wizard-loader-overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		float: right;
		width: 100%;
		height: calc(100% - 60px);
		background-color: rgba(255,255,255,1);
	}
  }
  .light-wizard-nav-container {
	flex: initial;
	order:1;
	width: 280px;
	height: 100%;
	background-color: #f6f6f6;
	.light-wizard-title {
		font-size: medium;
		font-weight: bold;
		padding: 0 30px;
		box-sizing: border-box;
		min-height: 72px;
		line-height: 72px;
		letter-spacing: 4px;
		color: rgba(0,0,0,0.50);
		text-transform: uppercase;
		span {
			line-height: normal;
		}
	}
    ul {
      width:100%;
      list-style: none;
      padding: 0;
	  margin: 0;
	  &.stepMarkersAdded {
		  position: relative;
		  &:after {
				content:'';
			  width:1px;
			  background: #E0E0E0;
			  height: calc(100% - 48px);
			  position: absolute;
			  left:42px;
			  top:24px;
			  z-index: 1;
		  }
		  li {
			  line-height: 60px;
			  padding-left: 75px;
			  position: relative;
			  &:before {
				  content:attr(index);
				  line-height: 26px;
				  text-align: center;
				  width: 36px;
				  height: 36px;
				  border-radius: 50%;
				  border: 5px solid #f6f6f6;
				  background: #E0E0E0;
				  position: absolute;
				  box-sizing: border-box;
				  top: 12px;
				  left: 25px;
				  z-index: 2;
				  font-size: small;
			  }
			  &.active {
				&:before {
					content:attr(index);
					line-height: 26px;
					text-align: center;
					width: 36px;
					height: 36px;
					border-radius: 50%;
					border: 5px solid #fff;
					background: lighten(#2ecc71, 35);
					position: absolute;
					box-sizing: border-box;
					top: 12px;
					left: 25px;
					z-index: 2;
					font-size: small;
				}
			  }
			  &.done {
				&:before {
					content:attr(index);
					line-height: 26px;
					text-align: center;
					width: 36px;
					height: 36px;
					border-radius: 50%;
					border: 5px solid #f6f6f6;
					background: #27ae60;
					color: #fff;
					position: absolute;
					box-sizing: border-box;
					top: 12px;
					left: 25px;
					z-index: 2;
					font-size: small;
				}
			  }
		  }
	  }
      li {
		font-size: small;
        padding: 0 30px;
        box-sizing: border-box;
        line-height: 48px;
		cursor: pointer;
		transition: background 0.2s linear 0s;
		* {
			opacity: 0.75;
		}
        &.active {
		  background-color: #fff;
		  * {
			opacity: 1;
		  }
		}
		&:hover,
		&:focus{
			background-color: #fafafa;
		  }
      }
    }
  }
  .light-wizard-page-container {
    flex: 1;
	order:2;
	height: 100%;
	position: relative;
	.light-wizard-footer-steppers {
		position: absolute;
		bottom: 0;
		height: 60px;
		left: 0;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			white-space: nowrap;
			&:after {
				content:'';
				height: 1px;
				width:calc(100% - 60px);;
				background: #E6E6E6;
				position: absolute;
				left:35px;
				top:30px;
				z-index: 1;
			}
			li {
				line-height: 60px;
				position: relative;
				float: left;
				width:60px;
				text-align: center;
				&:before {
					content:attr(index);
					line-height: 26px;
					text-align: center;
					width: 36px;
					height: 36px;
					border-radius: 50%;
					border: 5px solid #fafafa;
					background: #E0E0E0;
					box-sizing: border-box;
					z-index: 2;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					font-size: small;
					cursor: pointer;
				}
				&.active {
					background: #fff;
				  &:before {
					  content:attr(index);
					  line-height: 26px;
					  text-align: center;
					  width: 36px;
					  height: 36px;
					  border-radius: 50%;
					  border: 5px solid #fff;
					  background: lighten(#2ecc71, 35);
					  box-sizing: border-box;
					  z-index: 2;
					  display: inline-block;
					  vertical-align: middle;
					  position: relative;
					  font-size: small;
					  cursor: pointer;
				  }
				}
				&.done {
				  &:before {
					  content:attr(index);
					  line-height: 26px;
					  text-align: center;
					  width: 36px;
					  height: 36px;
					  border-radius: 50%;
					  border: 5px solid #fafafa;
					  background: #27ae60;
					  color: #fff;
					  box-sizing: border-box;
					  z-index: 2;
					  display: inline-block;
					  vertical-align: middle;
					  position: relative;
					  font-size: small;
					  cursor: pointer;
				  }
				}
			}
		}
	}
  }
}