.light-wizard-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  .light-wizard-loader-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	.light-wizard-loader-overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		float: right;
		width: calc(100% - 250px);
		height: 100%;
		background-color: rgba(255,255,255,1);
	}
  }
  .light-wizard-nav-container {
    float: left;
	width: 250px;
	height: 100%;
	background-color: #f6f6f6;
	.light-wizard-title {
		font-size: small;
		font-weight: bold;
		padding: 0 30px;
		box-sizing: border-box;
		min-height: 60px;
		line-height: 60px;
		letter-spacing: 1px;
		text-transform: uppercase;
		span {
			line-height: normal;
		}
	}
    ul {
      width:100%;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
		font-size: small;
        padding: 0 30px;
        box-sizing: border-box;
        line-height: 48px;
		cursor: pointer;
		transition: background 0.2s linear 0s;
		opacity: 0.60;
        &.active {
		  background-color: #fff;
		  opacity: 1;
		}
		&:hover,
		&:focus{
			background-color: #fafafa;
		  }
      }
    }
  }
  .light-wizard-page-container {
    float: right;
    width: calc(100% - 250px);
    height: 100%;
  }
}