<light-wizard class="light-wizard-holder">
	<span light-wizard-title>Light Wizard</span>
	<light-wizard-page>
		<light-wizard-page-title>Step 1</light-wizard-page-title>
		<h1>
			{{title}} 1
		</h1>
	</light-wizard-page>
	<light-wizard-page>
		<light-wizard-page-title>Step 2</light-wizard-page-title>
		<h1>
			{{title}} 2
		</h1>
	</light-wizard-page>
	<light-wizard-page>
		<light-wizard-page-title>Step 3</light-wizard-page-title>
		<h1>
			{{title}} 3
		</h1>
	</light-wizard-page>
</light-wizard>