.btn.btn-primary {
    display: block;
    line-height: 44px;
    height: 48px;
    min-width: 100px;
    border: 2px solid #0073c6;
    background: transparent;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: medium;
    color: #0073c6;
    margin: 10vh auto;
    cursor: pointer;
}

.light-wizard-holder {
    width: 80vw;
    height: 80vh;
    display: block;
    margin: 10vh auto 0 auto; 
    border: 1px solid #d0d0d0;
}

.content {
    height: 80%;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }
}

.credits {
    line-height: normal;
    height: 20%;
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: underline;
        color: #0073c6;
        letter-spacing: 4px;
        font-size: small;
    }
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #3498db;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }